.ql-editor ul.task-list > li {
  pointer-events: none;
}
.ql-editor ul.task-list > li::before {
  color: #000;
  border: 1px solid #000;
  content: " ";
  font-size: 15px;
  height: 15px;
  line-height: 1;
  position: absolute;
  text-align: center;
  vertical-align: middle;
  width: 15px;
  cursor: pointer;
  pointer-events: all;
}
.ql-editor ul.task-list > li.checked-true::before {
  content: "✓";
}
